@import "../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.info {
  display: flex;
}

.img {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-left: 4rem;
}

.name {
  font-size: 1.5rem;
}
