@import '../styles/variables.scss';

.main {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  height: 100vh;
}

.img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  object-fit: fill;
  transition: transform .5s;
  cursor: pointer;
}

.img:hover {
  transform: scale(1.05);
  transition: transform .5s;
}

.highlight {
  color: $color-primary;
}

.button {
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}
