@import '../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  gap: .5rem;
  list-style: none;
}

.button {
  border: 1px solid $color-primary;
  justify-content: center;
  color: $color-primary;
  background-color: #ffffff;
  padding: 0;
  height: 32px;
  width: 32px;
}

.button:disabled {
  display: none;
}

.active {
  border-radius: 2px;
  color: #ffffff;
  background-color: $color-primary;
}
