@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body, #root {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  height: 100%;
}
