@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './variables.scss';

body, #root {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1 1 auto;
  height: 100%;
}

// Scrollbar 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-primary;
}
