// colors
$color-primary: #5E5DF0;
$color-secondary: #ffffff;
$gray: #6c757d;
$error: #ef233c;
$success: #52b788;

// Heights
$navbar-height: 4rem;

// Breakpoints
$breakpoints: (
  xs: 576px,
	s: 640px,
	m: 768px,
	l: 1024px,
	lx: 1200px,
);
